body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin-top:0;
  padding-top:0;
}

/* Header */

header {
  position: fixed;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: black;
  border-bottom: solid white 1px;
}

header img {
  padding-left: 10px;
  height: 50px;
}

.menubuttons nav a {
  text-decoration: underline;
  color: seashell;
  padding-right: 10px;
}


/* Content */
.content {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Our mission */
.mission {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  justify-content: center;
  margin-bottom: 65px;
}

h2#featured_tea_id {
  padding-bottom: 0;
  margin-bottom: 0;
}

.mission_text {
  background-color: black;
}


/* Tea of the Month */
.featured_tea {
  display: flex;
  width: 1000px;
  justify-content: space-around;
}

.featured_tea img {
  width: 300px;
  height: 200px;
}

.featured_tea_description {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  padding-top: 10px;
}

.featured_tea2 {
  display: flex;
  padding-top: 20px;
  width: 660px;
  justify-content: space-around;
}

.featured_tea2 img {
  width: 300px;
  height: 200px;
}

.featured_tea_description2 {
  display: flex;
  justify-content: space-around;
  width: 660px;
  padding-top: 10px;
}

/* Locations */
.locations {
  display: flex;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  flex-direction: column;
  width: 1200px;
  position: relative;
  margin-top: 70px;
  padding-top: 50px;
}

.cities {
  display: flex;
  justify-content: center;
}

.city {
  opacity: 1;
  width: 300px;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Contacts */
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding-top: 10px;
}

/* Footer */
footer {
  text-align: left;
  padding-left: 20px;
}
